body{
  margin:0;
  padding:0;
  font-family:Arial;
  background:#111;
  color:white;
}

header{
  background:#1c1c1c;
  padding:20px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

section{
  padding:20px;
}

input,textarea{
  width:100%;
  padding:12px;
  margin-bottom:10px;
  border:none;
  border-radius:8px;
  background:#222;
  color:white;
  box-sizing:border-box;
}

button{
  padding:12px 20px;
  border:none;
  border-radius:8px;
  background:#6f42c1;
  color:white;
  cursor:pointer;
}

button:hover{
  opacity:0.9;
}

.buttons{
  display:flex;
  gap:10px;
}

.novel-list{
  display:grid;
  grid-template-columns:repeat(auto-fill,minmax(220px,1fr));
  gap:20px;
}

.novel-card{
  background:#1c1c1c;
  padding:15px;
  border-radius:12px;
}

.novel-card img{
  width:100%;
  height:280px;
  object-fit:cover;
  border-radius:8px;
}

.chapter-item{
  background:#1c1c1c;
  padding:15px;
  border-radius:10px;
  margin-bottom:15px;
}

.chapter-item pre{
  white-space:pre-wrap;
}

.comment{
  background:#1c1c1c;
  padding:10px;
  border-radius:8px;
  margin-top:10px;
}
